body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Andale', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #995400;
    
}

a:hover {
    text-decoration: underline;
}
h1 {
   font-size: medium;
   font-family:'Andale', 'Arial', 'Sans-Serif';
}
p {
    font-size: medium;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: medium;
}

ul.posts li {
    list-style: none;
}

img.myimage {
    width:40px;
    height:40px;
}

h1.myimage {
    color: DarkOrange;
    font-size: 30px;
    font-weight: bold;
    valign:bottom;
}

h1.blog{
    color: #C70039;
    font-size: 20px;
    font-weight: bold;
    valign:bottom;
}
p.intro {
    font-family: 'Andale', 'Arial';
    font: 'Andale';
    align: center;
}

